body {
  margin: 0;
  padding: 0;
  background-image: url(img/f9a2f49b0c533eaaaed707e2812e26ed_t-min.jpeg);

}
img {
  max-width: 100%;
}
p {
  margin-bottom: 20px;
}
ul {
  list-style: none;
}


header {
  height: 500px;
  margin: 200px 0 ;
  h1 {
    text-align: center;
    display: none;
    margin-bottom: 150px;
    span {
      font-size: 60px;
    }
  }

  #arrow {
    display: none;
    text-align: center;
    font-size: 50px;
    a {
      color: black;
    }
  }
}

.nav {
  background-color: rgba(128, 128, 128, 0.356);
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  display: none;



  div {
    text-align: center;
    nav {
      width: 50%;
      margin: 0 auto;
      ul {
        display: flex;
        padding: 0;
        a {
          color: black;
        }
        a:hover {
          text-decoration: none;
          color: rgb(107, 107, 107);
        }

        li {
          padding: 0 95px;
        }
      }
    }
  }

}

main {
  text-align: center;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;


  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange;
    background-color: rgb(255, 241, 232);
    padding: 15px 0;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
  }

  #about{
    padding-top: 15px;
    display: none;


    .profile {
      display: flex;
      margin: 20px 0 60px;
      div{
        width: 45%;
        margin: 0 auto;
      }
      img {
        width: 200px;
        box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.219);
      }

      &-text {
        background-color: rgb(235, 255, 255);
        border-radius: 20px;
        border: 2px solid rgb(163, 163, 163);
        hr {
          width: 7%;
          border-top: 2px solid rgb(113, 113, 255);
        }
        p {
          margin-bottom: 50px;
        }

        h4 {
          font-size: 15px;
        }
      }
    }

  }

  #skill {
    display: none;

    .skill-name {
        font-size: 20px;
    }
    .skills {
      display: flex;
      margin-bottom: 20px;
      div {
        width: 33%;
        margin: 0 auto;
      }
      .icon {
        font-size: 40px;
      }
      .html {
        padding: 30px 0;
        background-color: rgb(255, 212, 131);
        display: none;
      }
      .css {
        padding: 30px 0;
        background-color: burlywood;
        display: none;

      }
      .js {
        padding: 30px 0;
        background-color: rgb(243, 217, 255);
        display: none;

      }
      .scss {
        padding: 30px 0;
        background-color: pink;
        display: none;

      }
      .php {
        padding: 30px 0;
        background-color: rgb(255, 214, 221);
        display: none;

      }
      .word {
        padding: 30px 0;
        background-color: rgb(205, 241, 255);
        display: none;

      }
    }
  }

  #work {
    display: none;
    h2 {
      margin-bottom: 50px;
    }
    .portfolio {

      h3 {
        font-size: 20px;
      }
      hr {
        width: 7%;
          border-top: 2px solid rgb(113, 113, 255);
      }
      p {
        font-size: 14px;
        margin: 60px 0;
      }
      img {
        width: 50%;
        margin: 0 auto;
        border: 2px solid rgb(197, 197, 197);
      }
      .a-site {
        img {
          display: block;
        }
        a {
          p {
            display: inline-block;
            padding: 5px;
            border: solid 1px #000;
            outline: solid 1px #000;
            outline-offset: 2px;
            transition: 0.3s;
          }
          p:hover {
            outline-offset: 0px;
          }
        }

      }
      .port-title {
        font-size: 30px;


      }
      .port-title::before {
        content: "";
        padding: 0 10px;
        margin: 0 20px;
        border-top: 1px solid black;
        border-left: 1px solid black;
      }
      .port-title::after {
        content: "";
        padding: 0 10px;
        margin: 0 20px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
      }
    }
  }


  #per {
    padding-top: 1000px;

    h3 {
      font-size: 20px;
    }
    hr {
      width: 7%;
        border-top: 2px solid rgb(113, 113, 255);
    }
    p {
      font-size: 14px;
      margin: 60px 0;
    }
    img {
      width: 50%;
      margin: 0 auto;
      border: 2px solid rgb(197, 197, 197);
    }
    .performance {
      padding-bottom: 40px;
      margin-bottom: 100px;
      .slider {
        width: 90%;
        margin: 0 auto;

    }
    .slider img {
        max-width: 90%;
        height: auto;
        margin: 0 auto;

    }
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    a {
      p {
        display: inline-block;
        padding: 5px;
        border: solid 1px #000;
        outline: solid 1px #000;
        outline-offset: 2px;
        transition: 0.3s;
      }
      p:hover {
        outline-offset: 0px;

      }
    }

    }

  }
}

footer {
  margin-top: 100px;
  padding: 30px 0;
  text-align: center;
  background-color: rgb(255, 202, 103);

  a {
    color: #fff;
  }
  div {
    border: 1px solid #fff;
    width: 5%;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 20px;
    margin-bottom: 10px;
    transition: 0.2s;
    display: inline-block;
  }
  div:hover {
    box-shadow: 0px 0px 10px 5px #fff;
    color: #fff;
  }

  small {
    display: block;
  }
}


.port {
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    a {
      display: block;
      color: black;
      text-decoration:  none;
    }
    .content {
      width: 25%;
      margin: 50px auto;
      padding: 5px;
      background-color: #fff;
    }
    .content:hover {
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}


@media screen and (max-width:414px) {
  .nav {
    div {
      nav {
        ul {
          li {
            padding: 0 20px;
          }
        }
      }
    }
  }

  .profile {
    .profile-text {
      h3 {
        font-size: 15px;
      }

      h4 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }

    }
  }

  footer {
    div {
      width: 15%;
    }
  }

}
